 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="iconify" data-icon="simple-icons:powershell" data-inline="false"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>Other languages: Yaml, Shell, Typescript, HTML, CSS, .Net</p>
    </div>
    <div class="tech">
      <h2>Technologies</h2>
      <i class="iconify" data-icon="logos-ansible" data-inline="false"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="iconify" data-icon="logos:mesosphere" data-inline="false"></i>
      <p>Other technologies: Docker, Nginx, Apache, Selenium</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="iconify" data-icon="logos:travis-ci-monochrome" data-inline="false"></i>
      <i class="devicon-gitlab-plain colored"></i>
      <i class="iconify" data-icon="logos:trello" data-inline="false"></i>
      <p>Other tools: OpenStack, MongoDB, MySQL, Zabbix</p>
    </div>
</div>
