<div class="user-details">
  <h1> Experiencie </h1>
</div>
<div class='parent'>
    <div class="child circle-container">
        <div class="outer-ring"></div>
        <div class="circle">
            <div class="front">
                <img class="front-logo" src="{{ "/assets/img/hemav_logo.jpeg" | prepend: site.baseurl }}" alt="HEMAV" />
            </div>
            <div class="back">
                <p class="hemav">HEMAV<br \>2018</p>
            </div>
        </div>
    </div>
 <div class="child circle-container">
    <div class="outer-ring"></div>
    <div class="circle">
      <div class="front">
        <img class="front-logo" src="{{ "/assets/img/alteraid_logo.png" | prepend: site.baseurl }}" alt="AlterAid" />
      </div>
      <div class="back">
        <p class="alter">AlterAid<br \>2017-2019</p>
      </div>
    </div>
  </div>
 <div class="child circle-container">
    <div class="outer-ring"></div>
    <div class="circle">
      <div class="front">
        <img class="front-logo" src="{{ "/assets/img/volta_logo.jpeg" | prepend: site.baseurl }}" alt="VoltaNet" />
      </div>
      <div class="back">
        <p class="alter">Volta Networks<br \>2019-2021</p>
      </div>
    </div>
  </div>
 <div class="child circle-container">
    <div class="outer-ring"></div>
    <div class="circle">
        <div class="front">
            <img class="front-logo-ibm" src="{{ "/assets/img/IBM_logo.png" | prepend: site.baseurl }}" alt="IBM" />
        </div>
        <div class="back">
            <p class="alter">IBM<br \>2021-2023</p>
        </div>
    </div>
 </div>
    <div class="child circle-container">
        <div class="outer-ring"></div>
        <div class="circle">
            <div class="front">
                <img class="front-logo-bizerba" src="{{ "/assets/img/bizerba_logo.jpeg" | prepend: site.baseurl }}" alt="Bizerba" />
            </div>
            <div class="back">
                <p class="alter">Bizerba<br \>2023-Present</p>
            </div>
        </div>
    </div>
</div>